
<html>
    <html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <title>Solucion del algoritmo </title>

  </head>


    <body>
        <h1>Acertijo de Dominó</h1>
        <form action = "/fuerzaBruta" method = "POST">
            <p>Ingrese el número del set a jugar:</p>

            <div>
            <input type="text" id="set" name="set">
            </div>

            <div>
                <button type="submit">Resolver</button>
            </div>
        </form>
    </body>

</html>